<h2>Đổi mật khẩu</h2>
<form *ngIf="formChangePassword" [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
<mat-form-field appearance="outline">
  <mat-label>Mật khẩu cũ</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" formControlName="old_password">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" formControlName="old_password">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
  <br>
  <mat-form-field appearance="outline" style="width: 14.7rem;">
    <mat-label>Mật khẩu mới</mat-label>
    <input matInput type="password" formControlName="new_password">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline" style="width: 14.7rem;">
    <mat-label>Xác nhận mật khẩu mới</mat-label>
    <input matInput type="password" formControlName="new_password_confirmation">
  </mat-form-field>
  <br>
  <button mat-flat-button color="primary" [disabled]="formChangePassword.invalid">Thay đổi</button>
</form>
