<div class="card">
  <div class="card-body" style="height: 40rem; background-color: #00288000">
    <i
      class="fa fa-times"
      style="float: right"
      aria-hidden="true"
      (click)="dialogRef.close()"
    ></i>
    <h2 class="card-title font-weight-bold" [hidden]="isHiddenInputTitle">
      {{ card.title }}
      <i
        class="fa fa-pencil-square-o"
        aria-hidden="true"
        (click)="setHiddenInputTitle()"
      ></i>
    </h2>
      <input type="text" [(ngModel)]="card.title" name="title"  class="border border-primary" (focusout)="setHiddenInputTitle();updateCard()" [hidden]="!isHiddenInputTitle">
    <div class="row">
      <div class="col-8">
        <div class="mg">
          Thanh vien
          <button class="btn btn-sm btn-light rounded-circle">+</button>
        </div>
        <div class="mg">
          Nhan
          <small class="badge badge-primary mr-1">Primary</small>
          <small class="badge badge-secondary mr-1">Secondary</small>
          <small class="badge badge-success mr-1">Success</small>
          <small class="badge badge-danger mr-1">Danger</small>
        </div>
        <h2 class="mg">Mô tả</h2>
        <div class="mg" [hidden]="isHiddenInputContent">
          <i
            class="fas fa-edit"
            style="float: right"
            (click)="setHiddenInputContent()"
          ></i>
          <p style="background-color: #cccccc">
            {{ card.content ?? "Chưa có mô tả" }}
          </p>
        </div>
          <textarea cols="30" rows="10" [(ngModel)]="card.content" name="content" [hidden]="!isHiddenInputContent" (focusout)="setHiddenInputContent(); updateCard()">

          </textarea>
        <div class="row">
          <div class="col-12 mg">
            <form *ngIf="formComment" [formGroup]="formComment">
              <div class="form-group">
                <div class="card">
                  <div class="card-header">Bình luận</div>
                  <div class="card-body">
                    <div *ngFor="let comment of comments">
                      <h2 class="card-title">{{ comment.name }} :</h2>
                      <p class="card-text">{{ comment.content }}</p>
                    </div>
                  </div>
                  <input
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="1"
                    formControlName="comment"
                    (keyup.enter)="addComment()"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="bg-light mb-1 p-2">
          <i class="fas fa-user"></i> Thành viên
        </div>
        <div class="bg-light mb-1 p-2"><i class="fas fa-tag"></i> Nhan</div>
      </div>
    </div>
  </div>
</div>
