
  <h2>Thêm thành viên</h2>
  <form *ngIf="formAddUser" [formGroup]="formAddUser" (ngSubmit)="submit()">
    <div>
    <mat-form-field appearance="fill">
      <mat-label>Thêm email thành viên...</mat-label>
      <input matInput formControlName = 'email'>

    </mat-form-field>
  </div>
  <p>Lựa chọn quyền cho thành viên</p>
  <div>
    <mat-form-field appearance="fill">
    <mat-label>Chọn quyền</mat-label>
    <mat-select formControlName ='role_id'>
      <mat-option value="1">Quyền chỉnh sửa</mat-option>
      <mat-option value="2">Chỉ xem</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close [disabled]="formAddUser.invalid" type="submit">Thêm thành viên</button>

</div>
</form>
