a.icon {
  margin: 15px 15px;
}

a:hover {
  background-color: rgb(0, 174, 255);
}

#table {
  width: 80%;
  float: left;
  margin-right: 0;
}

.sidebar {
  position: fixed;
  top : 0;
  padding-top: 100px
}

.list-card {
  padding-top: 100px;
  position: relative;
  left: 200px;
  width: 80%;
  margin-left: 50px;
  width: 75rem;
}

.font-sidebar {
  font-size: 1.2rem !important
}

.label-add-card {
  margin: .7rem;
}

.space-work{
  padding-left: 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  padding-right: 0 !important
}
.example-chip-list {
  width: 100%;
}
