<div class="show-list">
  <app-board-bar></app-board-bar>
  <div cdkDropListGroup>
      <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="dropList($event)">
        <div class="example-box list-group example-container" *ngFor="let list of lists" cdkDrag>
          <ul class="list-group" style="width: 18rem">
          <li class="list-group-item active">{{list.title}}</li>
          </ul>
        </div>
      </div>
    <div class="example-container" *ngFor="let list of lists;let i = index">
      <ul class="list-group" style="width: 18rem">
      <div cdkDropList [cdkDropListData]="list.cards" class="example-container" (cdkDropListDropped)="dropCard($event)">
        <div class="list-group-item example-box-card"  *ngFor="let item of list.cards" cdkDrag>
        <div (click)="showCard(item.id)">
          {{item.title}}
        </div>
        </div>
      </div>
      </ul>

      <mat-card-actions (click)="hiddenFormAddCard(i)" [hidden]="!isHiddenFormAddCard[i]"><i nz-icon
                                                                                             nzType="plus"></i>
        Thêm thẻ
      </mat-card-actions>
      <div [hidden]="isHiddenFormAddCard[i]">
        <form *ngIf="formAddCard" [formGroup]="formAddCard" (ngSubmit)="addCard(i)" style="margin: 5px"><input
          class="form-control border border-success" type="text" formControlName="title"/>
          <button type="submit" class="btn btn-primary add-list" [disabled]="formAddCard.invalid"> Thêm thẻ</button>
          <button type="button" class="btn btn-danger add-list" (click)="hiddenFormAddCard(i)"> X</button>
        </form>
      </div>
    </div>
  </div>
    <!--    nút thêm list-->
    <div>
      <button
        nz-button
        nzType="dashed"
        class="add-button"
        style="margin: 28px;"
        [hidden]="!isHiddenFormAddList"
        (click)="hidden()"
      >
        <i nz-icon nzType="plus"></i>
        Add List
      </button>
    </div>
    <div
      [hidden]="isHiddenFormAddList"
      class="border border-primary"
      style="margin: 20px; height: 20%"
    >
      <form
        *ngIf="formAddList"
        [formGroup]="formAddList"
        (ngSubmit)="addList()"
        style="margin: 5px"
      >
        <input
          class="form-control border border-success"
          type="text"
          formControlName="title"
        />
        <button
          type="submit"
          class="btn btn-primary add-list"
          [disabled]="formAddList.invalid"
        >
          Add list
        </button>
        <button
          type="button"
          class="btn btn-danger add-list"
          (click)="hidden()"
        >
          X
        </button>
      </form>
    </div>
  </div>

