<div class="content">
  <div class="card-body">
  <form *ngIf="formChangePassword" [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
    <label for="old-pass">Old Password</label>
    <input type="password" id="old-pass" formControlName="old_password"><br>
    <label for="new-pass">New Password</label>
    <input type="password" id="new-pass" formControlName="new_password"><br>
    <label for="confirm-new-pass">Confirm New Pass</label>
    <input type="password" id="confirm-new-pass" formControlName="new_password_confirmation"><br>
    <button>Change</button>
  </form>
  </div>
  {{message}}
</div>
